body {
    margin: 0
}

.main {
    position: relative;
    display: inline-block;
}

.main .table {
    position: relative;
    display: block;
    border: 1px solid #48AAE6;
}

.main .add {
    background-color: #F6C052;
}

.main .remove {
    background-color: #B20000;
}

.main .button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: left 0.25s, right 0.25s, top 0.25s, bottom 0.25s, opacity 0.75s;
}

.main .button:hover {
    opacity: 0.5;
}

.main .add.bottom {
    bottom: 0px;
}

.main .add.right {
    right: 0px;
}

.main .remove.top {
    left: 0px;
    top: 0px;
}

.main .remove.left {
    left: 0px;
    top: 0px;
}

.main .table table td {
    padding: 0px;
    margin: 0px;
    background-color: #48AAE6;
}
